/JAVA/Leccion01/MundoPc/nbproject/private/
/Java/MundoPc/nbproject/private/
/Java/Leccion01/MundoPc/nbproject/private/
/Java/Leccion06/Interfaces/nbproject/private/
/Java/Leccion06/Interfaces/build/
/Java/Leccion06/Interfaces/dist/
/Java/Leccion02/ArgumentosVariables/nbproject/private/
/Java/Leccion02/ArgumentosVariables/build/
/Java/Leccion02/Enumeraciones/nbproject/private/
/Java/Leccion02/Enumeraciones/build/
/Java/Leccion02/BloquesInicianilizacion/nbproject/private/
/Java/Leccion02/BloquesInicianilizacion/dist/
/Java/Leccion02/BloquesInicianilizacion/build/
